<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zawadz88.github.com.toolsvalidationsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- This gets matched correctly -->
            <tools:validation testUrl="https://www.mydomain.com/path/to/intercept/someSuffix" />
            <tools:validation testUrl="https://www.mydomain.com/path/XXX/suffixToIntercept" />

            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />

                <data android:host="www.mydomain.com" />

                <data android:pathPattern="/path/.*/suffixToIntercept" />

                <data android:pathPrefix="/path/to/intercept/" />

            </intent-filter>

            <!-- This gets matched correctly in Android Studio, but fails from command line -->
            <tools:validation testUrl="https://www.myotherdomain.com/path/to/intercept/someSuffix" />
            <tools:validation testUrl="https://www.myotherdomain.com/path/XXX/suffixToIntercept" />

            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />

                <data android:host="@string/host" />

                <data android:pathPattern="@string/path_pattern" />

                <data android:pathPrefix="@string/path_prefix" />

            </intent-filter>
        </activity>
    </application>

</manifest>